[Desktop Entry]
Name=Boot Repair
Name[ca]=Boot Repair
Name[cs]=Oprava zavaděče
Name[de]=Bootreparatur
Name[el]=Επισκευή Εκκίνησης
Name[es]=Reparar Inicialización
Name[fr]=Réparation du démarrage
Name[it]=Ripara Boot
Name[ja]=起動処理の修正
Name[lt]=Paleidimo taisymas
Name[nl]=Boot Reparatie
Name[pt]=Reparador de Iniciação (Boot)
Name[ru]=Восстановление загрузчика
Name[sk]=Oprava zavádzača
Name[sv]=Boot-reparation
Name[tr]=Önyükleme Onarımı
Comment=Simple boot repair
Comment[ca]=Reparació senzilla de l'arrencada
Comment[cs]=Jednoduchá oprava zavaděče
Comment[de]=einfache Boot-Reparatur
Comment[el]=Απλή Επισκευή Εκκίνησης
Comment[es]=Reparación de Inicialización
Comment[fr]=Réparation du démarrage simple
Comment[it]=Riparazione del boot di avvio del sistema
Comment[ja]=シンプル起動(ブート)修理
Comment[lt]=Paprastas paleidimo taisymas
Comment[nl]=Eenvoudige Boot Reparatie
Comment[ru]=Простое восстановление загрузчика
Comment[pt]=Reparador de iniciação fácil de usar
Comment[sk]=Opraviť zavádzač
Comment[sv]=Enkel Boot-reparation
Comment[tr]=Basit Önyükleme Onarımı
Exec=su-to-root -X -c bootrepair
Icon=bootrepair
NoDisplay=False
Categories=System;
Type=Application
